db

app/image
app/system
app/.htaccess.txt
app/config-dist.php
app/config.php
app/index.php
app/php.ini
app/robots.txt

app/admin/*
!app/admin/controller
app/admin/controller/*
!app/admin/controller/extension
app/admin/controller/extension/*
!app/admin/controller/extension/module/
app/admin/controller/extension/module/*
!app/admin/controller/extension/module/custom_subscription.php

!app/admin/model
app/admin/model/*
!app/admin/model/extension
app/admin/model/extension/*
!app/admin/model/extension/module/
app/admin/model/extension/module/*
!app/admin/model/extension/module/custom_subscription.php

!app/admin/view
app/admin/view/*
!app/admin/view/template
app/admin/view/template/*
!app/admin/view/template/extension
app/admin/view/template/extension/*
!app/admin/view/template/extension/module/
app/admin/view/template/extension/module/*
!app/admin/view/template/extension/module/custom_subscription.tpl

!app/admin/language
app/admin/language/*
!app/admin/language/ru-ru
app/admin/language/ru-ru/*
!app/admin/language/ru-ru/extension
app/admin/language/ru-ru/extension/*
!app/admin/language/ru-ru/extension/module
app/admin/language/ru-ru/extension/module/*
!app/admin/language/ru-ru/extension/module/custom_subscription.php

!app/admin/language
!app/admin/language/en-gb
app/admin/language/en-gb/*
!app/admin/language/en-gb/extension
app/admin/language/en-gb/extension/*
!app/admin/language/en-gb/extension/module
app/admin/language/en-gb/extension/module/*
!app/admin/language/en-gb/extension/module/custom_subscription.php


app/catalog/*
!app/catalog/controller
app/catalog/controller/*
!app/catalog/controller/extension
app/catalog/controller/extension/*
!app/catalog/controller/extension/module/
app/catalog/controller/extension/module/*
!app/catalog/controller/extension/module/custom_subscription.php

!app/catalog/model
app/catalog/model/*
!app/catalog/model/extension
app/catalog/model/extension/*
!app/catalog/model/extension/module/
app/catalog/model/extension/module/*
!app/catalog/model/extension/module/custom_subscription.php

!app/catalog/language
app/catalog/language/*
!app/catalog/language/ru-ru
app/catalog/language/ru-ru/*
!app/catalog/language/ru-ru/extension
app/catalog/language/ru-ru/extension/*
!app/catalog/language/ru-ru/extension/module
app/catalog/language/ru-ru/extension/module/*
!app/catalog/language/ru-ru/extension/module/custom_subscription.php

!app/catalog/language
!app/catalog/language/en-gb
app/catalog/language/en-gb/*
!app/catalog/language/en-gb/extension
app/catalog/language/en-gb/extension/*
!app/catalog/language/en-gb/extension/module
app/catalog/language/en-gb/extension/module/*
!app/catalog/language/en-gb/extension/module/custom_subscription.php

!app/catalog/view
app/catalog/view/*
!app/catalog/view/theme
app/catalog/view/theme/*
!app/catalog/view/theme/custom